form {
  margin: 0 20px;
  text-align: center;
}

form div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

input {
  background-color: #494949;
  font-size: 16px;
  color: #fff;
  padding: 10px 50px;
  border-radius: 7px;
  border: none;
  outline: none;
  width: 100%;
}

.search-logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(100%, -50%);
  color: #fff;
}

@media (max-width: 768px) {
  input {
    font-size: 14px;
    padding: 10px 40px;
  }
}