@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: #333;
  color : #f4f4f4;
}

a{
  color : #f4f4f4;
  text-decoration : none;
}

h1{
  text-align: center;
  margin: 15px;
  font-weight: 900;
}